.scene {
  display: block;
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100%;
  @media (max-width: 1400px) {
    background-size: 135%;
  }
  @media (max-width: @screen-md-max) {
    background-size: 150%;
  }
  @media (max-width: @screen-sm-max) {
    background-size: 150%;
  }
  @media (max-width: @screen-xs-max) {
    background-image: none !important;
    height: 100vh;
  }
  @media (orientation: landscape) and (max-width: @screen-xs-max) {
    min-height: 100vh;
    height: auto;
  }
  &--intro {
    background-color: #733d5d;
    .scene-content {
      @media (min-width: @screen-sm-min) {
        text-align: center;
        padding-top: 11vh;
        top: 0;
        transform: translateY(0);
        opacity: 0;
        transition: opacity 2s ease;
        .content-animation {
          transition: transform 1s ease;
          transform: translateY(20%);
        }
      }
      @media (max-width: @screen-xs-max) {
        padding-top: 20px;
      }
    }
    &.active {
      .scene-content {
        opacity: 1;
        .content-animation {
          transform: translateY(0);
        }
      }
    }
  }
  &--time {
    background-color: #9247b3;
  }
  &--operation {
    background-color: #9b59b6;
    @media (min-width: @screen-sm-min) {
      .scene-content {
        top: 45vh;
      }
    }
  }
  &--mobile-operation {
    background-color: #32a3f1;
    @media (min-width: @screen-sm-min) {
      .scene-content {
        top: 51vh;
      }
    }
    @media (max-width: @screen-xs-max) {
      .scene-content {
        padding: 36px 20px 0;
        .content-animation {
          .scene-content__top-title.scene-content__top-title--bold {
            margin-bottom: 18px;
          }
          .scene-content__val {
            line-height: 64px;
          }
          .scene-content__val-desc {
            margin-bottom: 10px;
            line-height: 42px;
          }
        }
      }
    }
  }
  &--total-sum {
    background-color: #3598db;
    @media (min-width: @screen-sm-min) {
      .scene-content {
        top: 46vh;
      }
    }
    @media (max-width: @screen-xs-max) {
      .scene-content {
        .content-animation {
          .scene-content__val {
            font-size: 64px;
          }
        }
      }
    }
    @media (max-width: 370px) {
      .scene-content {
        .content-animation {
          .scene-content__val {
            font-size: 52px;
          }
        }
      }
    }
  }
  &--costs {
    background-color: #2d82df;
    @media (min-width: @screen-sm-min) {
      .scene-content {
        top: 0;
        transform: translateY(0);
      }
    }
    @media (max-width: @screen-xs-max) {
      .scene-content {
        padding: 36px 20px 0;
      }
    }
  }
  &--largest-purchase {
    background-color: #4c90d9;
    @media (min-width: @screen-sm-min) {
      .scene-content {
        top: 46vh;
        .scene-content__top-title {
          margin-bottom: 0;
        }
      }
    }
  }
  &--econom-month {
    background-color: #2fb569;
    @media (min-width: @screen-sm-min) {
      .scene-content {
        top: 47vh;
        .scene-content__val {
          margin-bottom: 70px;
        }
      }
    }
  }
  &--hot-month {
    background-color: #54c483;
    @media (min-width: @screen-sm-min) {
      .scene-content {
        top: 47vh;
        .scene-content__val {
          margin-bottom: 70px;
        }
      }
    }
  }
  &--deposits {
    background-color: #16a086;
    .scene-content {
      .scene-content__top-title {
        br {
          display: none;
        }
      }
    }
    @media (min-width: @screen-sm-min) {
      .scene-content {
        top: 44vh;
        .scene-content__top-title {
          br {
            display: block;
          }
        }
      }
    }

  }
  &--contribution {
    background-color: #1bbc9b;
    @media (min-width: @screen-sm-min) {

    }
  }
  &--cashback {
    background-color: #de503a;
    .scene-content {
      .scene-content__top-title {
        br {
          display: block;
        }
      }
    }
    @media (min-width: @screen-sm-min) {
      .scene-content {
        top: 44vh;
        .scene-content__top-title {
          br {
            display: none;
          }
        }
      }
    }
  }
  &--countries {
    background-color: #f05648;
    @media (min-width: @screen-sm-min) {
      .scene-content {
        top: 27vh;
        height: 65%;
        transform: translateY(0);
        .content-animation {
          height: 100%;
        }
      }
    }
  }
  &--credit {
    background-color: #f08930;
    .scene-content {
      .scene-content__top-title {
        br {
          display: block;
        }
      }
    }
    @media (min-width: @screen-sm-min) {
      .scene-content {
        top: 44vh;
        .scene-content__top-title {
          br {
            display: none;
          }
        }
      }
    }
  }
  &--points {
    background-color: #faa419;
    @media (min-width: @screen-sm-min) {
      .scene-content {
        top: 51vh;
      }
    }
  }
  &--finish {
    background-color: #e5c337;
    .scene-content {
      @media (min-width: @screen-sm-min) {
        text-align: center;
        //padding-top: 6%;
        top: 15vh;
        transform: translateY(0);
      }
    }

    .scene-content__title {
      color: #ffffff;
      font-family: @almost-font-family;
      font-size: 72px;
      font-weight: 400;
      line-height: 60px;
      margin: 0 auto 35px;
      @media (max-width: @screen-xs-max) {
        font-size: 36px;
        font-weight: 400;
        line-height: 34px;
        padding-top: 50px;
        max-width: 300px;
        margin: 0 auto 25px;
      }
      @media (max-width: 370px) {
        font-size: 33px;
        padding-top: 30px;
      }
    }
    .scene-content__subtitle {
      @media (max-width: @screen-xs-max) {
        margin-bottom: 30px;
        padding-top: 0;
        br {
           display: none;
        }
      }
      @media (max-width: 370px) {
        margin-bottom: 20px;
      }
    }
  }
  &-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    text-align: center;
    @media (max-width: @screen-xs-max) {
      position: absolute;
    }
    @media (orientation: landscape) and (max-width: @screen-xs-max) {
      position: static;
    }
    &__img {
      display: block;
      width: 100%;
      max-width: 998px;
      margin: 0 auto;
      @media (max-width: @screen-xs-max) {
        max-width: 100%;
      }

      &.hidden-xs {
        @media (max-width: @screen-xs-max) {
          display: none;
        }
      }
      &.visible-xs {
        display: none;
        @media (max-width: @screen-xs-max) {
          display: block;
          //max-width: 480px;
        }
      }
    }
  }
  &-content {
    position: relative;
    z-index: 10;
    max-width: 1124px;
    margin: 0 auto;
    text-align: left;
    @media (min-width: @screen-sm-min) {
      top: 45vh;
      transform: translateY(-50%);
    }
    @media (max-width: @screen-md-max) {
      width: 900px;
    }
    @media (max-width: @screen-sm-max) {
      width: 700px;
    }
    @media (max-width: @screen-xs-max) {
      width: 100%;
      padding: 42px 20px 0;
      text-align: center;
    }
    @media (max-width: 370px) {
      padding: 22px 20px 0;
    }
    &__subtitle {
      color: #ffffff;
      max-width: 700px;
      margin: 0 auto 42px;
      font-size: 26px;
      font-weight: 400;
      line-height: 32px;
      @media (max-width: @screen-xs-max) {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        padding: 0 12px;
        margin: 0 0 40px;
      }
      @media (max-width: 370px) {
        font-size: 19px;
        font-weight: 400;
        line-height: 21px;
        padding: 0 12px;
        margin: 0 0 10px;
      }
    }
    &__top-title {
      color: #ffffff;
      font-size: 26px;
      font-weight: 400;
      line-height: 32px;
      margin-bottom: 86px;
      @media (max-width: @screen-md-max) {
        margin-bottom: 50px;
      }
      @media (max-width: @screen-xs-max) {
        font-size: 22px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 15px;
      }
      .value {
        font-family: @almost-font-family;
      }
      &--bold {
        font-family: @almost-font-family;
        font-size: 32px;
        font-weight: 400;
        line-height: 32px;
        @media (max-width: @screen-xs-max) {
          margin-bottom: 22px;
          font-size: 22px;
          line-height: 24px;
        }
      }
      &--bold-sm {
        font-family: @almost-font-family;
        margin-bottom: 52px;
        font-size: 32px;
        font-weight: 400;
        line-height: 32px;
        @media (max-width: @screen-xs-max) {
          margin-bottom: 5px;
          font-size: 22px;
          line-height: 24px;
        }
      }
    }
    &__val {
      display: block;
      color: #ffffff;
      font-family: @almost-font-family;
      font-size: 140px;
      font-weight: 400;
      line-height: 130px;
      @media (max-width: @screen-md-max) {
        font-size: 120px;
        line-height: 110px;
      }
      @media (max-width: @screen-xs-max) {
        font-size: 74px;
        font-weight: 400;
        line-height: 70px;
      }
      @media (max-width: 370px) {
        font-size: 55px;
        line-height: 50px;
      }
      & + .scene-content__top-title {
        @media (max-width: @screen-xs-max) {
          margin-top: 10px;
        }
      }
      .rouble {
        font-family: 'PTRoubleSans';
      }
    }
    &__val-desc {
      display: block;
      color: #ffffff;
      font-family: @almost-font-family;
      font-size: 80px;
      font-weight: 400;
      line-height: 50px;
      margin-bottom: 90px;
      @media (max-width: @screen-md-max) {
        font-size: 60px;
        margin-bottom: 70px;
      }
      @media (max-width: @screen-xs-max) {
        font-size: 46px;
        font-weight: 400;
        line-height: 46px;
        margin-bottom: 15px;
      }
    }
    &__detail {
      color: #ffffff;
      font-family: @almost-font-family;
      font-size: 32px;
      font-weight: 600;
      @media (max-width: @screen-xs-max) {
        font-size: 22px;
        font-weight: 400;
        line-height: 24px;
      }
    }
    &__note {
      color: #ffffff;
      font-size: 20px;
      font-weight: 400;
      line-height: 32px;
      @media (max-width: @screen-xs-max) {
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
      }
    }
  }
  &-logos {
    display: none;
    @media (max-width: @screen-xs-max) {
      padding: 25px;
      display: block;
      &__item {
        .raiff-logo {
          width: 149px;
          height: 30px;
          display: block;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url('../i/sprite/raiff-logo-rus.svg');
        }
      }
    }
  }

  @media (max-width: @screen-sm-max) {
    background-size: 150%;
  }
  @media (max-width: @screen-xs-max) {
    background-image: none;
  }
}

hr.light-line {
  display: none;
  @media (max-width: @screen-xs-max) {
    display: block;
    border: 0;
    height: 1px;
    background-color: #82b2e4;
    opacity: 0.3;
    margin: 12px 5px 20px;
  }
}
hr.bold-line {
  display: none;
  @media (max-width: @screen-xs-max) {
    display: block;
    border: 0;
    height: 1px;
    background-color: #82b2e4;
    margin: 14px 5px 20px;
  }
}