.scene-slider {
  padding: 0;
  &-item {
    height: 100vh;
    padding-top: 20vh;
    @media (max-height: 800px) {
      padding-top: 14vh;
    }

    .scene-content__val-desc {
      margin-bottom: 85px;
      @media (max-width: @screen-md-max) {
        margin-bottom: 30px;
      }
      @media (max-width: @screen-xs-max) {
        margin-bottom: 20px;
      }
    }
    .scene-content__top-title--bold-sm {
      margin-bottom: 84px;
      @media (max-width: @screen-md-max) {
        margin-bottom: 58px;
      }
      @media (max-width: @screen-xs-max) {
        margin-bottom: 28px;
      }
    }
    @media (max-width: @screen-xs-max) {
      padding: 0;
    }
  }

  &__row {
    width: 60%;
    .clearfix();
    @media (max-width: @screen-md-max) {
      width: 70%;
    }
    @media (max-width: @screen-xs-max) {
      width: 100%;
    }
  }
  &__col {
    width: 57%;
    float: left;
    &:first-child {
      padding-top: 15px;
      width: 43%;
      @media (max-width: @screen-xs-max) {
        padding-top: 0;
        width: 100%;
      }
    }
    @media (max-width: @screen-xs-max) {
      width: 100%;
    }
  }
  .slick-arrow {
    display: inline-block;
    z-index: 20;
    &.slick-prev {
      left: 0;
      @media (max-width: @screen-xs-max) {
        left: 5px;
      }
    }
    &.slick-next {
      right: auto;
      left: 57px;
      @media (max-width: @screen-xs-max) {
        right: 5px;
        left: auto;
      }
    }

  }
  .slick-arrow {
    &.slick-prev,
    &.slick-next {
      content: '';
      width: 54px;
      height: 54px;
      top: auto;
      bottom: 44px;
      @media (max-width: @screen-xs-max) {
        width: 34px;
        height: 34px;
        top: 146px;
      }
      @media (max-width: 370px) {
        top: 151px;
      }

      &.slick-disabled{
        display: none !important;
      }
      &:before {
        content: '';
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        width: 42px;
        height: 42px;
        left: 6px;
        top: 6px;
        position: absolute;
        @media (max-width: @screen-xs-max) {
          width: 33px;
          height: 33px;
          position: static;
        }
      }
    }
  }

  .slick-prev {
    opacity: 1;
    &:before {
      opacity: 1;
      background-image: url("../i/prev.png");
      background-size: 100%;
    }
  }
  .slick-next {
    opacity: 1;
    &:before {
      opacity: 1;
      background-image: url("../i/next.png");
      background-size: 100%;
    }
  }

  .slick-dots {
    z-index: 10;
    top: 265px;
    bottom: auto;
    left: 0;
    text-align: center;
    @media (max-width: 370px) {
      font-size: 33px;
      top: 275px;
    }
    li {
      width: auto;
      margin: 0 4px;
    }
    button {
      display: inline-block;
      padding: 0;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #ffffff;
      opacity: 0.6;
      &:before {
        content: '';
        display: none;
      }
    }
    li.slick-active {
      button {
        display: inline-block;
        padding: 0;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #ffffff;
        opacity: 1;
        &:before {
          content: '';
          display: none;
        }
      }
    }
  }
}
.scene-slider__title {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 2px;
  @media (max-width: @screen-xs-max) {
    margin-bottom: 20px;
  }
}

/*#scene-svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
  circle {
    stroke-width: 2px;
  }
  &.animate {
    circle {
      transition: stroke-dashoffset 5s linear;
    }
  }
  &.no-animate {
    circle {
      opacity: 0;
    }
  }
}
#scene-bar {
  stroke: #ffffff;
}
*/
.scene-slider .slick-arrow.slick-prev.slick-disabled,
.scene-slider .slick-arrow.slick-next.slick-disabled {
  display: inline-block !important;
}