.portal {
  height: 100%;
  display: grid;
  padding-top: 11px;
  grid-row-gap: 14px;
  justify-content: center;
  grid-column-gap: 30px;
  background-color: #f2efeb;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 300px 630px 300px;

  grid-template-areas:
    "left-side header header"
    "left-side content right-side"
    "left-side content right-side";
  
  &__left-side {
    grid-area: left-side;
  }

  &__right-side {
    position: relative;
    grid-area: right-side;
  }

  &__header {
    grid-area: header;
  }

  &__content {
    grid-area: content;
  }

  &__blue-block {
    color: #fff;
    padding: 40px;
    background: #0070BA;
    margin-top: 14px;
    font-family: DIN Pro;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-label {
      line-height: 19px;
      font-size: 16px;
      margin-bottom: 24px;
    }

    &-link {
      display: block;
      width: fit-content;
      color: #fff;
      font-weight: bold;
      text-decoration: none;
      border-bottom: 2px solid #fff;
      padding-bottom: 4px;
    }

    &-elements {
      position: absolute;
    }
  }
}