.call-to-action-mobile {
  height: 100%;
  position: relative;
  background-color: #ffffff;

  &__image {
    width: 100%;
  }

  &__text, &__title {
    padding: 19px;
  }

  &__bgimage {
    background: url('../../sections/CallToAction/shared/assets/images/call-to-action-bg.png');
    background-size: 240%;
    background-position: -100px;
  }

  &__bgwhite {
    width: 250px;
    background-color: rgba(255, 255, 255, 0.6);
  }

  &__text {
    p:last-child {
      margin-top: 18px;
    }
  }

  &__link {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    &-description {
      width: 183px;
      color: #2E2E2E;
      font-size: 20px;
      font-family: DIN Pro;
      line-height: 23px;
      margin-bottom: 3px;
      margin-top: 13px;
    }

    &-block {
      width: 183px;
    }
  }

  &__copyright {
    left: 20px;
    color: #0070BA;
    bottom: 15px;
    position: absolute;
    font-family: DIN Pro;
    line-height: 15px;
    font-size: 11px;
  }

  .big-link {
    font-size: 14px;
  }
}

@media screen and (max-width: 739px) {
  .portal-timer__link > .big-link {
    text-transform: uppercase;
    font-size: 12px;
    line-height: normal;
    border-bottom: none;
    padding: 18px;
    color: #ffffff;
    background-color: #0070BA;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
  }
}
@media screen and (device-aspect-ratio: 40/71){
  /* iPhone 5 only */
  .call-to-action-mobile {
    &__text {
      font-size: 9px;
      line-height: 11px;
      margin-bottom: 5px;
    }
    &__link {
      &-description {
        font-size: 12px;
      }
    }
    .big-link {
      font-size: 12px;
      line-height: 15px;
    }
  }
}