.dukov-appeal-section {
  &__wrapper {
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    background-color: #2E2E2E;
  }

  &__left-figures {
    position: absolute;
    width: 391px;
    height: 217px;
    left: -96px;
    bottom: 173px;
  }

  &__right-figures {
    position: absolute;
    width: 312px;
    height: 217px;
    right: 0px;
    bottom: 25px;
  }

  &__logo {
    left: 75px;
    bottom: 75px;
    position: absolute;
  }

  &__photo {
    height: 90%;
    margin-top: auto;
    margin-right: 150px;
  }

  &__content {
    width: 410px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__name {
    color: #009DDC;
    font-size: 50px;
    font-weight: 700;
    font-family: HeliosCond;
    line-height: normal;
  }

  &__title {
    color: #FFFFFF;
    margin: 10px 0px 23px 0px;
    font-size: 13px;
    font-family: DIN Pro;
    line-height: normal;
  }

  &__text {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 300;
    line-height: 15px;
    font-family: DIN Pro;
  }

  &__button {
    color: #FFFFFF;
    width: 190px;
    height: 50px;
    border: none;
    margin: 26px 0px;
    display: flex;
    font-size: 15px;
    text-align: center;
    line-height: normal;
    align-items: center;
    font-family: DIN Pro;
    justify-content: center;
    background-color: #0079C1;

    &:hover {
      background-color: #009ddc;
    }
  }

  &__signature {
        
    &-name {
      color: #B2B2B2;
      font-size: 16px;
      font-family: DIN Pro;
      line-height: normal;
    }

    &-position {
      color: #B2B2B2;
      font-size: 13px;
      margin-top: 5px;
      font-family: DIN Pro;
      line-height: normal;
    }
  }
}
    