<section class="scene scene--intro visible">
    <div class="scene-logos">
        <div class="scene-logos__item">
            <a href="https://гпн-лидеры-россии.рф" target="_blank" rel="noopener noreferrer">
                <div class="logo"></div>
            </a>
        </div>
    </div>
    <div class="scene-content">
        <div class="content-animation">
            <h1>Упс</h1>
            <p class="scene-content__subtitle">Запрашиваемая вами страница не существует или у вас оказалась неверная ссылка. Проверьте, пожалуйста, ссылку</p>
        </div>
        <div class="container-btn">
            <a href="https://гпн-лидеры-россии.рф" class="btn btn-default">На главную</a>
        </div>
    </div>
    <div class="scene-bottom">
    </div>
    <footer class="footer">
    </footer>
</section>
