
<section class="scene scene--intro visible">
    <div class="scene-logos">
        <div class="scene-logos__item">
            <a href="http://www.gazprom-neft.ru/" target="_blank">
                <div class="logo"></div>
            </a>
        </div>
    </div>

    <div class="scene-content">
        <div class="content-animation">
            <h1><span class="scene-content__welcome">{{clientName}}, здравствуйте!</span></h1>
            <p class="scene-content__subtitle">Вы были выбраны для участия в конкурсе Лидеры России.</p>
        </div>
        <div class="container-btn">
            <a href="" class="btn btn-default" data-action="top-scroll">Далее</a>
        </div>
    </div>
    <div class="scene-bottom">
    </div>
    <footer class="footer">

    </footer>
</section>
<section class="scene scene--finish">
    <div class="scene-content">
        <div class="content-animation">
            <h2 class="scene-content__title">Участие в конкурсе бесплатное!</h2>
            <p class="scene-content__subtitle">«Лидеры России» — это открытый конкурс для руководителей нового поколения. Бросьте вызов тысячам управленцев и попадите в сообщество лидеров, которые определят будущее России.</p>
            <div class="btn-container-bottom">
                <div class="btn-container-bottom__content">
                    <h3 class="btn-container-bottom__title">Хотите получать новости про конкурс?</h3>
                    <button type="button" data-action="vote-yes" class="btn btn-inverted">Да</button>
                    <button type="button" data-action="vote-no" class="btn btn-inverted">Нет,не интересно</button>
                </div>
                <div class="btn-container-bottom__content result">
                    <h3 class="btn-container-bottom__title">Благодарим за ваш ответ!</h3>
                </div>
            </div>
            <div class="scene-content__note">Спасибо.</div>
        </div>
    </div>
    <div class="scene-bottom">
    </div>
    <footer class="footer">
    </footer>
</section>
